:root{
    --background: #EFF9FE;
    --primary: #E4F3FD;
    --accent:#D3F850;
    --accent_2:#DEF896;
    --text:#01131F;
    --secondary:#FA987D;
    background-color: var(--background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: var(--text);
}

.flexbox-container{
    display: flex;
    column-gap: 30px;
}

h1{
    color: var(--text);
    text-align: center;
    font-size: larger;
}

.newDiv{
    padding: 5px;
    border-radius: 10px;
}

.para
{
    background-color: var(--primary);
    border-radius: 5px;
}

p{
    color: var(--secondary);
    font-size: 20px;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
}

.soft{
    text-indent: 15px;
    padding: 3px;
    background-color: var(--accent);
    border-radius: 10px;
}

.hard{
    text-indent: 15px;
    padding: 3px;
    background-color: var(--accent);
    border-radius: 10px;
}